<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="js/jquery.js"></script>
    <script src="js/common.js?3"></script>
    <link rel="stylesheet" href="css/todiestyle.css?2">
    <title>检测结果</title>
</head>
<body>
    <div class="main">
        <div class="block flex">
            <div class="avatar">
                <img src="image/avatar.jpg" alt="头像">
                <img class="gender" src="image/male.png" alt="男性">
            </div>
            <div class="info">
                <p class="title">
                    <span>葛博</span> 先生
                </p>
                <p>心源性猝死基因检测报告</p>
            </div>
        </div>

        <div class="block">
            <p class="center title">
                您的遗传风险是平均人群的
            </p>
            <div class="center bei">
                <span style="color:#FC4C7A;">1.53 <em style="background-color:#FC4C7A;">倍</em></span>
            </div>
            <p class="center red">
                心源性猝死患病风险高
            </p>

            <div class="bar-line mt30 flex">
                <p><span class="holder"></span>平均风险值</p>
                <div class="bar-box">
                    <span class="bar bg-deep-blue avg"></span>
                </div>
            </div>
            <div class="bar-line flex">
                <p><span class="holder question">?</span>您的风险值</p>
                <div class="bar-box">
                    <span class="bar bg-pink mine"></span>
                </div>
                <div class="hide-info">
                    <span class="sj"></span>
                    RR值小于1，为疾病保护因素，会降低疾病的患病风险。
                </div>
            </div>

            <div class="little-tile indent">
                基因检测仅从遗传学角度分析受检者基因患病风险，并不不代表受检者真实患病情况，且不能作为疾病诊断的依据。
            </div>
        </div>

        <div class="sbm">
            <button>详细检测报告</button>
            <button>个性化健康管理</button>
        </div>
    </div>
</body>
<script>
$(function(){
	setTimeout(function() {
		   $(".avg").animate({width:'53%'}, "slow");
		   $(".mine").animate({width:'90%'}, "slow");
	}, 1000);
})
</script>
</html>