<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="__PUBLIC__/giftcard/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/giftcard/js/common.js?1"></script>
    <link rel="stylesheet" href="__PUBLIC__/giftcard/css/todiestyle.css">
    <title>检测结果</title>
</head>
<body>
    <div class="main mt20">
        <div class="block flex">
            <div class="avatar">
                <img src="{$giftbg.headimgurl}" alt="头像">
                <if condition="$giftbg['tjsex'] == '女'">
                    <img class="gender" src="__PUBLIC__/giftcard/image/female.png" alt="女性">
                <else/>
                    <img class="gender" src="__PUBLIC__/giftcard/image/male.png" alt="男性">
                </if>
            </div>
            <div class="info">
                <p class="title">
                    <span>{$giftbg.tjname}</span>
                    <if condition="$giftbg['tjsex'] == '女'">
                        女士
                    <else/>
                        先生
                    </if>
                </p>
                <p>{$package}报告</p>
            </div>
        </div>

        <div class="block">
            <p class="center title">
                您的遗传风险是平均人群的
            </p>
            <div class="center bei {$color}">
                <span>{$giftbg.risk} <em class="bg-{$color}">倍</em></span>
            </div>
            <p class="center {$color}">
                心源性猝死患病风险{$giftbg.level}
            </p>

            <div class="bar-line mt30 flex">
                <p><span class="holder"></span>平均风险值</p>
                <div class="bar-box">
                    <span class="bar bg-deep-blue avg"></span>
                </div>
            </div>
            <div class="bar-line flex">
                <p><span class="holder question">?</span>您的风险值</p>
                <div class="bar-box">
                    <span class="bar bg-{$color} mine"></span>
                </div>
                <div class="hide-info">
                    <span class="sj"></span>
                    {$msg}
                </div>
            </div>

            <div class="little-tile indent">
                基因检测仅从遗传学角度分析受检者基因患病风险，并不不代表受检者真实患病情况，且不能作为疾病诊断的依据。
            </div>
        </div>

        <div class="sbm">
            <a href="__CONTROLLER__/science/sampleno/{$giftbg['tj_samplenum']}"><button>详细检测报告</button></a>
            <a href="__CONTROLLER__/healthy"><button>个性化健康管理</button></a>
        </div>
    </div>
</body>
<script>
	setTimeout(function() {
		   $(".avg").animate({width:'{$avg*100}%'}, "slow");
		   $(".mine").animate({width:'{$mine*100}%'}, "slow");
	}, 1000);

</script>
</html>