<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="__PUBLIC__/giftcard/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/giftcard/js/common.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/giftcard/css/todiestyle.css">
    <title>科学依据</title>
</head>
<body>
    <div class="main">
        <div class="header">
            心源性猝死（Sudden Cardiac Death，SCD）
        </div>
        <div class="block">
            <p>
                心源性猝死是指由心脏原因导致的，在急性症状发生后1小时内的自然死亡。据统计，全球每年约有700万心源性猝死患者，严重威胁着人们的生命及健康。冠状动脉疾病与心肌病是心源性猝死的两大危险因素。
            </p>
            <ul class="flex two-linear">
                <li>
                    <p>0.19%</p>
                    <p>我国平均患病率</p>
                </li>
                <li>
                    <p>40-75岁</p>
                    <p>我国高发年龄段</p>
                </li>
            </ul>
        </div>

        <div class="header mt30">
            遗传倾向
        </div>
        <div class="block">
            <p>
                心源性猝死有一定的遗传倾向性。据统计，小于35岁的心源性猝死人群中，约有70%携带猝死基因；大于35岁的心源性猝死人群中，约有15%携带猝死基因。
            </p>
        </div>

        <div class="header mt30">
            科学依据
        </div>
        <div class="block">
            <table class="tb-jiyin">
                <tr>
                    <th>检测基因</th>
                    <th>rs号</th>
                    <th>基因型</th>
                </tr>
                <volist name="ret" id="vo">
                    <php>$colors=array(1=>"red", 2=>"yellow", 3=>"blue", 4=>"green"); $color=$colors[$vo['personrisk']];</php>
                    <tr>
                        <td>{$vo.genename}</td>
                        <td>{$vo.rsno}</td>
                        <td><span class="bg-{$color}">{$vo.genetype}</span></td>
                    </tr>
                </volist>
            </table>

            <ul class="statement">
                <li><i class="bg-red"></i>该基因型会提高中国人群患病风险。</li>
                <li><i class="bg-yellow"></i>该基因型会提高外国人群患病风险，尚无中国人群数据 。</li>
                <li><i class="bg-blue"></i>该基因型会降低中国人群患病风险。</li>
                <li><i class="bg-green"></i>该基因型会降低外国人群患病风险，尚无中国人群数据。</li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="sbm-share">
            <a href="javascript:alert('点击头部分享到朋友圈吧');"><button class="bg-pink">点击分享朋友圈</button></a>
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            appId: '{$data["appId"]}',
            timestamp: '{$data["timestamp"]}',
            nonceStr: '{$data["nonceStr"]}',
            signature: '{$data["signature"]}',
            jsApiList: [
                'onMenuShareAppMessage',
                'onMenuShareTimeline',
                'onMenuShareQQ',
                'onMenuShareWeibo',
            ]
        });

        $.ajax({
            url: "/Giftbg/shengcheng",
            data: {"sampleno": "ME18SD6B51"},
            type: "get",
            dataType: "json",
            success: function(data) {
                wx.ready(function () {
                    var shareData = {
                        title: '我的优馨安无创产前基因检测报告',
                        desc: '经优馨安无创产前基因检测得知，宝宝是唐氏综合征低风险，我希望能跟你共同分享这份喜悦。',
                        link: '/Public/share/{$imgname}',
                        imgUrl: '/Public/share/{$imgname}'
                    };
                    wx.showOptionMenu();
                    wx.onMenuShareAppMessage(shareData);
                    wx.onMenuShareTimeline(shareData);
                    wx.onMenuShareQQ(shareData);
                    wx.onMenuShareWeibo(shareData);
                });
            }
        });
    </script>
</body>
</html>