<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="js/jquery.js"></script>
    <script src="js/common.js?2"></script>
    <link rel="stylesheet" href="css/todiestyle.css">
    <title>分享</title>
</head>
<body class="bgbody">
    <div class="main-share">
        <div class="block-share">
            <p>某某先生 基因检测提示</p>
            <p>我的心源性猝死 <span class="red">患病风险高</span></p>
            <p>是平均人群的</p>
            <div class="bei">
                <span style="color:#FC4C7A;">2.53 <em class="center" style="background-color:#FC4C7A;">倍</em></span>
            </div>
            <p>
                <img src="image/shareback.png" alt="">
            </p>
            <p class="info-text">患病风险低于一般人群，但仍需关注自身健康， 保持健康合理的生活方式呦。 </p>
            <div class="flex jiyin">
                <ul>
                    <li>基因 KLF15</li>
                    <li>基因 ALDH2</li>
                    <li>基因 NOS3</li>
                </ul>
                <ul>
                    <li>基因型 TT</li>
                    <li>基因型 GA</li>
                    <li>基因型 CT</li>
                </ul>
                <ul>
                    <li><span style="background-color:#FC4C7A;">高风险</span></li>
                    <li><span style="background-color:#FC4C7A;">高风险</span></li>
                    <li><span>低风险</span></li>
                </ul>
                <div class="erweima">
                    <img src="image/erweima.png" alt="二维码">
                    <p class="center">长按关注小象基因</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>