<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="__PUBLIC__/giftcard/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/giftcard/js/common.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/giftcard/css/todiestyle.css">
    <title>分享</title>
</head>
<body class="bgbody">
    <div class="main-share">
        <div class="block-share">
            <p>{$giftbg['tjname']}{$giftbg['tjsex']=='男'?'先生':'女士'} 基因检测提示</p>
            <p>我的心源性猝死 <span class="{$color}">患病风险{$giftbg['level']}</span></p>
            <p>是平均人群的</p>
            <div class="bei {$color}">
                <span>{$giftbg['risk']} <em class="center bg-{$color}">倍</em></span>
            </div>
            <p>
                <img src="__PUBLIC__/giftcard/image/shareback.png" alt="">
            </p>
            <p class="info-text">{$info}</p>
            <div class="flex jiyin">
                <ul>
                    <li>基因 KLF15</li>
                    <li>基因 ALDH2</li>
                    <li>基因 NOS3</li>
                </ul>
                <ul>
                    <li>基因型 TT</li>
                    <li>基因型 GA</li>
                    <li>基因型 CT</li>
                </ul>
                <ul>
                    <li><span>低风险</span></li>
                    <li><span>低风险</span></li>
                    <li><span>低风险</span></li>
                </ul>
                <div class="erweima">
                    <img src="__PUBLIC__/giftcard/image/erweima.png" alt="二维码">
                    <p class="center">长按关注小象基因</p>
                </div>
            </div>
        </div>
        <form action="__CONTROLLER__/shengcheng" method="post" id="form"></form>
        <button id="share">点击分享</button>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            appId: '{$data["appId"]}',
            timestamp: '{$data["timestamp"]}',
            nonceStr: '{$data["nonceStr"]}',
            signature: '{$data["signature"]}',
            jsApiList: [
                'scanQRCode'
            ]
        });

        wx.ready(function () {
            wx.hideOptionMenu();
        })

        function changeWenHao(str){
            str=str.replace(/？/ig,'?');
            return str;
        }
        $("#share").click(function(){
            $("#form").submit();
        });
    </script>
</body>
</html>