.maibody{max-width:460px;min-width:355px;margin:0 auto}
.maintitle{height:53px;width:100%;background:#2666AD;text-align:center;font-size:17px;line-height:53px;color:#fff}
#tishi{line-height:50px;font-size:18px;font-weigh:bold;text-align:center;color:#2666AD;display:none;background:#F0F3FA;position:fixed;}
.btn-box{width:90%;margin:auto;text-align: center}
.btn-sub{width: 100%;height: 40px;border: 0;margin: 14% auto 25%;color: #fff;background: #2666AD;line-height: 40px;}
.fr{float: right}
.fl{float: left;}
.radio{
    float:right;
    margin-right:20%;
    line-height:30px
}
.radio input{
    margin-top:7px
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 0px;
}
input[type="checkbox"]{margin-right: 4%;}
select{height:22px; line-height:18px; padding:1px 0;border:none;background:rgba(255,255,255,0);color: #858585}

.section{width:100%;background:#fff}
.section-one{height:322px;}
.section-title{width:90%;margin:0 auto;height:50px;line-height:75px;font-size:18px;color:#346FB2;font:'微软雅黑'}
.section-tit{font-size:25px;margin-right:10px;line-height:50px}
.section-main{color:#6F6F6F;width:90%;margin:20px auto;}

.line{height:42px;margin:10px 0px;width: 100%;}
.line-notop{height:42px;margin:0px 0px 10px;width:100%}
.line-tab{overflow:hidden;line-height:38px;border:2px solid #E6E6E6;width:48%;height:42px;}
.line-two{overflow:hidden;line-height:38px;border:2px solid #E6E6E6;width:100%;height:42px;}
.package-tit{overflow:hidden;line-height:38px;width:100%;height:42px;text-align:center;background-color: #2666AD;color: #fff;}
.border-notop{line-height:47px;border:2px solid #E6E6E6;width:100%;border-top: none;padding-left: 3%;}
.pack-txt{line-height:24px;width:100%;float:left;border:2px solid #E6E6E6;border-top: none;padding: 4%;text-align: justify;margin-bottom: 4%;}

/*列表页*/
.needblue{color: #346FB2;}
.housbody{color: #6F6F6F;padding: 5% 5% 9%;font-size: 14px;}
.house{height: 40px;line-height: 40px;}
.house .house-name{width: 30%;display: block;}
.house .house-sex{width: 25%;display: block;text-align: center;}
.house .house-tel{width: 45%;display: block;text-align: center;}
.lists-p{color: #346FB2;margin: 8% auto 3%;}
.lists-add{width: 40%;text-align: center;color: #fff;background: #2666AD;line-height: 40px;margin: 8% auto 0;}
.house-section{border: 2px solid #E6E6E6;background: #fff;padding: 7%;margin: 3% auto 9%;}
.house-section span{line-height: 30px;}

.kd-note{resize:none;height:193px;border:2px solid #E6E6E6;width:100%;padding: 3% 5%;}
.black-ground {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78) none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    z-index: 998;
}
.win-body{
    z-index: 999;
    margin: 38% 5%;
    position: relative;
    max-height: 83%;
    top: 2%;
    width: 90%;
}
.win-body .win-tep{line-height: 24px;text-align: justify;}
.win-body a{width: 45%;
    height: 40px;
    margin: auto;
    margin-top: 16px;
    color: #fff;
    background: #346FB2;
    border: 0;
    line-height: 40px;
    text-align: center;
}
.win-msg{
    background: #fff;
    padding: 7% 9% 9%;
    overflow-y: auto;
    height: 100%;
}
.win-tit{text-align: center;font-size: 21px;font-weight: 500;margin-bottom: 7%;}
.win-tel{width: 100%;text-align: center;}
.win-tel p{
    background: #346FB2;
    margin: -5% 20% 5%;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 21px;
}
.win-foot{padding: 3% 45% 0;position: absolute;bottom: -30%;}

/*update*/
.select-body{display: none;}
.select-body.active{display: block;}

.userwin-tit{
    background-color: #2666AD;
    color: #fff;
    text-align: center;
    line-height: 54px;
    font-size: 16px;
    font-weight: bold;
    height: 54px;
}
.userwin-foot{padding: 3% 45% 0;position: absolute;bottom: -16%;}
.agreeclick{padding-bottom:0.1px; border-bottom:1px solid #2666AD;color: #2666AD;}

/*优迅猝死*/
.whitebackground{background-color: #fff;}
.identify{
    background-color: #fff;line-height: 38px;border: 2px solid #E6E6E6;width: 49%;height: 42px;float: left;
}
.getidentify{
    width: 48%;
    float: right;
    text-align: center;
    height: 41px;
    color: #fff;
    background-color: #2666AD;
    line-height: 38px;
}