<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
公众号开发信息
开发者ID(AppID)
wx08102f9708925685

开发者ID是公众号开发识别码，配合开发者密码可调用公众号的接口能力。

开发者密码(AppSecret) 重置
开发者密码是校验公众号开发者身份的密码，具有极高的安全性。切记勿把密码直接交给第三方开发者或直接存储在代码中。如需第三方代开发公众号，请使用授权方式接入。

IP白名单配置
通过开发者ID及密码调用获取access_token接口时，需要设置访问来源IP为白名单。了解更多。


扫码接收重要通知

接收通知

服务器配置(已启用)
修改配置 停用
服务器地址(URL)
http://wx.yjshare.cn/

令牌(Token)
NANNANTINGYU

消息加解密密钥(EncodingAESKey)
XOWmi9xs0fIAZPhJHkc9dsBEms52yrEPpcfQQCyWpXr

消息加解密方式
明文模式

已绑定的微信开放平台帐号
未绑定帐号
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$pk["appId"]}', // 必填，公众号的唯一标识
        timestamp:'{$pk["timestamp"]}' , // 必填，生成签名的时间戳
        nonceStr: '{$pk["nonceStr"]}', // 必填，生成签名的随机串
        signature: '{$pk["signature"]}',// 必填，签名
        jsApiList: ['onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
    });

    wx.onMenuShareAppMessage({
        title: '分享标题', // 分享标题
        desc: '这个是描述哦哦哦哦哦', // 分享描述
        link: 'https://www.yjshare.cn', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: 'https://image.yjshare.cn/2018/2/5/AvZz7MAy9Bn4ngTyTBok0sdr5U3lVVTcpq0NtwU3aHlecOYltyBBREqfD3NSJjsRFuLicbTCbTq8AlrcK0z6XDA.jpg', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
            alert("分享成功");
        },
        cancel: function () {
            alert("分享失败");
        }
    });
</script>
</body>
</html>